node_modules/
.aug-native/
.aug-build/
.aug-changes/
.aug-packages/
.aug-install-*/
.aug-lock-*/
.aug-write-*/
.aug-add.json*
*.aug.tmp
.aug-packages-old/
*.vsix
vscode/compiler/
.DS_Store
dist/
docs/.vitepress/cache/
docs/.vitepress/dist/
docs/.site/
*.tgz
